alias python='docker run -it -v `pwd`/:/src -w /src -e PYTHONPATH="/src/.pip" python python'
alias pip-insall='docker run -it -v `pwd`/:/src -w /src python pip install --target=/src/.pip'
alias pip='docker run -it -v `pwd`/:/src -w /src python pip'
