alias python='docker run -it --link mongo:mongo -v `pwd`/:/src -v `pwd`/data:/data -w /src -e PYTHONPATH="/src/.pip" python python'
alias pip-insall='docker run --rm -it -v `pwd`/:/src -w /src python pip install --target=/src/.pip'
alias pip='docker run --rm -it -v `pwd`/:/src -w /src python pip'
alias mongo='docker run -d -p 27017:27017 -v `pwd`/data:/data/db --name mongo mongo'
